.trailer {
  color: white;
  object-fit: contain;
  height: 448px;
  display: flex;
  justify-content: space-around;
  padding-top: 24px;
}

.trailer__contents {
  margin-left: 30px;
  padding-top: 130px;
  height: 190px;
  display: flex;
  flex-direction: column;
}

.trailer__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
  text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.trailer__description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.9rem;
  max-width: 360px;
  height: 80px;
  text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.trailer__button {
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
  padding-bottom: 0.5rem;
  text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.trailer__button:hover {
  color: #000;
  background-color: #e6e6e6;
  text-shadow: none;
  transition: all 0.2s;
}

.trailer--fadeBottom {
  height: 8.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

@media screen and (max-width: 1180px) {
  .trailer {
    flex-direction: column;
    padding: 40px;
    height: 750px;
  }
  .trailer__contents {
    padding-top: 50px;
  }
}

@media screen and (max-width: 870px) {
  .trailerVid {
    width: 100%;
  }
}
